@import './fonts.css' layer(base); /* for custom fonts */

@import 'tailwindcss';

@theme {
	--font-*: initial;
	--font-heading: sans-serif;
	--font-body: "Raleway", sans-serif;

	--color-brand-green: #618d69;
	--color-brand-green-dark: #314634;
	--color-brand-orange: #e69735;


	--breakpoint-xl: 76rem;
	--breakpoint-2xl: initial;
}


@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@utility btn {
	@apply transition-colors duration-300 ease-linear;
}

@utility btn-primary {
	@apply text-black;
}

@layer base {
	html {
		@apply font-body antialiased;
	}

	[x-cloak] {
		@apply hidden!;
	}
}
