---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Astro'>
	<Header />
	<div>
		<div class='container pt-5 pb-8 md:pb-11'>
			<div class='flex flex-col items-center sm:flex-row sm:gap-7 lg:items-start lg:gap-12 xl:gap-16'>
				<img
					src='/about-image.jpeg'
					class='max-h-56 w-full object-cover object-[50%_70%] sm:max-h-70 sm:w-1/2 lg:max-h-80'
					alt=''
				/>
				<div class='py-4 sm:w-1/2 md:py-5 xl:pr-24'>
					<span class='text-sm text-black md:text-lg'>Welkom bij</span>
					<h1 class='text-brand-green text-2xl font-bold uppercase md:text-3xl'>TAVOLO</h1>
					<div class='prose prose-p:text-xs/[14px] prose-p:font-light pt-3 text-black md:pt-5'>
						<p>
							Heb je zin in een heerlijke, verse maaltijd zonder uren in de keuken te staan? Bij Tavolo brengen we de
							smaak van kwaliteit en zorg tot bij jou thuis. Onze met liefde bereide afhaalgerechten combineren verse
							ingrediënten met verfijnde smaken, zodat jij kunt genieten van een culinaire ervaring zonder moeite.
						</p>
						<p>
							Of je nu kiest voor een snelle lunch, een gezellig diner met vrienden of een comfortabele maaltijd na een
							drukke dag – bij Tavolo zit je altijd goed. Bestel eenvoudig online en schuif aan tafel zonder moeite.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class='relative'>
				<img
					src='serving-image.jpg'
					class='inset-y-0 right-0 h-64 w-full object-cover sm:absolute sm:h-full sm:w-1/2'
					alt=''
				/>
				<div class='container flex items-center sm:h-80 xl:h-96'>
					<div class='flex items-center py-5 sm:w-1/2 sm:pr-8 md:py-8 lg:pr-16 xl:pr-32'>
						<div>
							<span class='text-sm text-black md:text-lg'>Over onze </span>
							<h1 class='text-brand-green text-2xl font-bold uppercase md:text-3xl'>AFHAALGERECHTEN</h1>
							<div class='prose prose-p:text-xs/[14px] prose-p:font-light pt-3 text-black md:pt-5'>
								<p>
									Bij Tavolo draait alles om smaak en kwaliteit. Onze gerechten worden met oog voor detail en liefde
									voor het vak samengesteld, met enkel de beste verse ingrediënten. Van klassieke favorieten tot
									verrassende culinaire creaties – elk gerecht straalt verfijning uit en brengt de perfecte balans
									tussen eenvoud en smaak.
								</p>
								<p>
									Of je nu kiest voor een lichte salade, een rijk gevulde pasta of een seizoensgebonden specialiteit, je
									proeft de zorg en passie in elke hap. Laat je verrassen door onze gevarieerde menukaart en geniet van
									een maaltijd die niet alleen voedt, maar ook inspireert.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='relative'>
				<img
					src='food-presentation-image.jpg'
					class='inset-y-0 left-0 h-64 w-full object-cover sm:absolute sm:h-full sm:w-1/2'
					alt=''
				/>
				<div class='container flex items-center sm:h-80 xl:h-96'>
					<div
						class='ml-auto flex items-center py-5 sm:w-1/2 sm:pr-3 sm:pl-8 md:py-8 lg:pr-8 lg:pl-14 xl:pr-16 xl:pl-20'>
						<div>
							<span class='text-sm text-black md:text-lg'>De gerechten</span>
							<h1 class='text-brand-green text-2xl font-bold uppercase md:text-3xl'>AFHALEN</h1>
							<div class='prose prose-p:text-xs/[14px] prose-p:font-light pt-3 text-black md:pt-5'>
								<p>
									Bij Tavolo geloven we dat lekker eten niet ingewikkeld hoeft te zijn. Onze gerechten worden niet
									alleen met zorg bereid, maar ook verpakt in stijlvolle, praktische borden die je gemakkelijk kunt
									meenemen. Of je nu onderweg bent, thuis wilt genieten of iets meeneemt naar vrienden – jouw maaltijd
									blijft vers en perfect gepresenteerd.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='relative pt-8 pb-12 md:pt-11 md:pb-16 lg:pb-20'>
			<img
				src='/bg-menu.png'
				class='absolute -bottom-16 -left-2 h-[25rem] w-auto rotate-[65deg] opacity-10 sm:-bottom-40 sm:h-[40rem] md:h-[51rem]'
				alt=''
			/>
			<div class='relative z-30 container pr-0'>
				<div class='text-center'>
					<h2 class='text-brand-green text-2xl font-bold uppercase md:text-3xl'>AFHAALGERECHTEN</h2>
				</div>
				<div class='pt-6 md:pt-8'>
					<div class='relative overflow-auto'>
						<ul class='flex items-center gap-8 whitespace-nowrap sm:justify-center sm:gap-12'>
							<li class='text-xs font-bold text-black uppercase md:text-sm'>Apero</li>
							<li class='text-xs font-light text-black uppercase md:text-sm'>VOORGERECHTEN</li>
							<li class='text-xs font-light text-black uppercase md:text-sm'>SHARING DISHES</li>
							<li class='text-xs font-light text-black uppercase md:text-sm'>HOOFDGERECHTEN</li>
						</ul>
					</div>
					<div class='flex flex-col gap-4 pt-11 pr-4 sm:flex-row sm:gap-16 md:pt-16 lg:gap-24'>
						<div class='space-y-4 sm:w-1/2 sm:space-y-6 md:space-y-8 lg:space-y-10'>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
						</div>
						<div class='space-y-4 sm:w-1/2 sm:space-y-6 md:space-y-8 lg:space-y-10'>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
							<div class='flex items-center gap-1'>
								<span class='text-xs font-light md:text-sm'>SASHAMI VAN TONIJN</span>
								<div class='border-brand-green h-px w-full flex-1 border-t border-dotted'></div>
								<span class='text-brand-green text-xs font-bold md:text-sm'>€ 5,00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='relative h-48 md:h-56 lg:h-65'>
			<img
				src='/bg-cta.jpg'
				class='absolute inset-0 h-full w-full object-cover object-[50%_65%]'
				alt=''
			/>
			<div class='bg-brand-green/65 absolute inset-0 z-20 h-full w-full'></div>
			<div class='relative z-30 container flex h-full items-center justify-center py-16 text-center'>
				<h2 class='text-2xl font-bold text-white uppercase md:text-3xl'>VERS EN HUISBEREID, MET OOG VOOR KWALITEIT.</h2>
			</div>
		</div>

		<div class='py-14 sm:py-16'>
			<div class='relative overflow-auto'>
				<div class='container flex pr-0 whitespace-nowrap'>
					<div class='mr-0 flex items-center pr-0'>
						<h2 class='text-brand-green -rotate-90 text-2xl font-bold uppercase md:text-3xl'>FOTOGALERIJ</h2>
						<div class='relative overflow-auto'>
							<div class='flex flex-col whitespace-nowrap'>
								<div class='flex h-[20rem] shrink-0 gap-4 lg:h-[26rem]'>
									<img
										src='/gallery-image.jpg'
										class='h-full w-[30rem] shrink-0 object-cover lg:w-[40rem] xl:w-[50rem]'
										alt=''
									/>
									<img
										src='/gallery-image.jpg'
										class='h-full w-[30rem] shrink-0 object-cover opacity-40 lg:w-[40rem] xl:w-[50rem]'
										alt=''
									/>
									<img
										src='/gallery-image.jpg'
										class='h-full w-[30rem] shrink-0 object-cover opacity-40 lg:w-[40rem] xl:w-[50rem]'
										alt=''
									/>
								</div>
								<div class='relative mt-4 h-2 w-full bg-[#f7dec0]'>
									<div class='bg-brand-orange absolute inset-y-0 left-0 h-full w-24'></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='container pb-12 sm:pb-14'>
			<div class='flex flex-col gap-8 sm:flex-row lg:gap-5 xl:gap-24 xl:px-16'>
				<div class='sm:w-1/3 lg:w-[30%] xl:w-1/4'>
					<span class='text-sm text-black md:text-lg'>Zonder moeite genieten?</span>
					<h2 class='text-brand-green text-2xl font-bold uppercase md:text-3xl'>NEEM CONTACT</h2>
					<div class='space-y-2 pt-6'>
						<span class='block text-sm text-black'
							>Ieperstraat 110 <br />
							8830 Hooglede
						</span>
						<div>
							<a
								href='tel:+32470593539'
								class='text-brand-green block text-sm font-bold'
								>Tel +32 470 59 35 39</a
							>
							<a
								href='mailto:hello@tavolo.be'
								class='text-brand-green text-sm font-bold'
								>hello@tavolo.be</a
							>
						</div>
						<span class='text-sm text-black'>BTW BE 0724.913.068</span>
					</div>
				</div>
				<form class='sm:w-2/3 lg:w-[70%] xl:w-3/4'>
					<div class='flex flex-col gap-4 pb-5 lg:flex-row'>
						<input
							type='text'
							name='name'
							id='name'
							placeholder='NAAM*'
							class='border-brand-green border p-2 text-xs text-black lg:w-1/2'
						/>
						<input
							type='text'
							name='address'
							id='address'
							placeholder='ADRESS*'
							class='border-brand-green border p-2 text-xs text-black lg:w-1/2'
						/>
					</div>
					<div class='flex flex-col gap-4 pb-5 lg:flex-row'>
						<input
							type='text'
							name='phone'
							id='phone'
							placeholder='TELEFOONNUER*'
							class='border-brand-green border p-2 text-xs text-black lg:w-1/2'
						/>
						<input
							type='email'
							name='email'
							id='email'
							placeholder='EMAIL*'
							class='border-brand-green border p-2 text-xs text-black lg:w-1/2'
						/>
					</div>
					<textarea
						name='message'
						id='message'
						placeholder='VRAAG OF EXTRA INFORMATIE'
						class='border-brand-green h-28 w-full border p-2 text-xs text-black'
					></textarea>
					<div class='flex justify-end pt-3'>
						<button class='bg-brand-green px-4 py-1 text-sm text-white uppercase'>VERZENDEN</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
